
@{
    ViewData["Title"] = "Books";
}
<body class="mt-5 text-center ">
    <header class="mt-5 text-center text-light">
        <h1>STATE OF BOOKS</h1>
    </header>
    <main class="mt-5 text-center text-light">
        <p>Below you will be able to see the current status of the books</p>
        <!--A continuación podrá ver el estado actual de los libros -->
        <a href="">Home</a>
        <section>Books Information
            <table class="table text-light">
                <thead>
                    <tr>
                        <th scope="col">TITLE</th>
                        <th scope="col">AUTHOR</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">CATEGORY</th>
                        <th scope="col">AVAILABILITY</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cien Años de Soledad</td>
                        <td>Gabriel García Marquez</td>
                        <td>0-306-40615-2</td>
                        <td>Novel</td>
                        <td>Available</td>
                    </tr>

                </tbody>
            </table>
        </section>


    </main>

</body>

