@{
  ViewData["Title"] = "CrudBooks";
}
<link rel="stylesheet" href="~/css/Crud.css" asp-append-version="true" />
<button type="button" class="btn btn-primary">Crear</button>
<form class="form mt-5">
  <p id="heading">Create new Book</p>
  <div class="field">
    <input placeholder="Title" class="input-field ms-3" type="text">
  </div>
    <div class="field">
    <input placeholder="Author" class="input-field ms-3" type="text">
  </div>
    <div class="field">
    <input placeholder="ISBN" class="input-field ms-3" type="text">
  </div>
    <div class="field">

    <input placeholder="Category" class="input-field ms-3" type="text">
  </div>
    <div class="field">
    <input placeholder="Available" class="input-field ms-3" type="text">
  </div>
  <div class="btn">
    <button class="button2">Confirm </button>
  </div>
  <button class="button3">Discard Changes</button>
</form>