@{
    ViewData["Title"] = "Search Books";
}

<div class="input-group flex-nowrap mt-5">
  <input type="text" class="form-control rounded-pill inputs" placeholder="Enter the name of the book" aria-label="Enter the name of the book" aria-describedby="addon-wrapping">
</div>