@{
    ViewData["Title"] = "Home Page";
}

<div class="input-group flex-nowrap mt-5" id="navcolor">
  <input type="text" class="form-control" placeholder="Enter the name of the book" aria-label="Enter the name of the book" aria-describedby="addon-wrapping">
</div>