@{
    ViewData["Title"] = "Books";
}

<body class="mt-5 text-center ">
    <header class="mt-5 text-center text-dark">
        <h1>STATE OF BOOKS</h1>
    </header>
    <main class="mt-5 text-center text-dark">
        <p>Below you will be able to see the current status of the books</p>
        <!--A continuación podrá ver el estado actual de los libros -->
        <a href="">Home</a>
        <section>Books Information
            <table class="table text-dark mt-5">

                <thead class="mt-5 text-center text-dark">
                    <tr>
                        <th scope="col">TITLE</th>
                        <th scope="col">AUTHOR</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">CATEGORY</th>
                    </tr>
                </thead>
                <tbody>
                    <h2 class="table text-dark mt-5">Availability</h2>
                    <tr>
                        <td>Cien Años de Soledad</td>
                        <td>Gabriel García Marquez</td>
                        <td>0-306-40615-2</td>
                        <td>Novel</td>

                    </tr>

                </tbody>
            </table>
            <table class="table text-dark mt-5">
                <thead class="mt-5 text-center text-dark">
                    <tr>
                        <th scope="col">TITLE</th>
                        <th scope="col">AUTHOR</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">CATEGORY</th>

                    </tr>
                </thead>
                <tbody>
                    <h2 class="table text-dark mt-5">Loaned</h2>
                    <tr>
                        <td>El Alquimista</td>
                        <td>Paulo Coelho</td>
                        <td>0-306-40600-3</td>
                        <td>Drama</td>

                    </tr>

                </tbody>
            </table>
            <table class="table text-dark mt-5">
                <thead>
                    <tr>
                        <th scope="col">TITLE</th>
                        <th scope="col">AUTHOR</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">CATEGORY</th>

                    </tr>
                </thead>
                <tbody>
                    <h2 class="table text-dark mt-5">Requested</h2>
                    <tr>
                        <td>El Retrato de Dorian Grey</td>
                        <td>Oscar Wilde</td>
                        <td>0-306-45032-4</td>
                        <td>Fiction</td>

                    </tr>

                </tbody>
            </table>
        </section>


    </main>

</body>