/*crud libros*/
:root {
  --white: #ffffff;
  --black: #000000;
  --beige: #c69c69;
  --blue: #396EEB;
  --green: #1fb264;
  --red: #ff0000;

}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: .4s ease-in-out;
    width:750px ;
    margin : 0 auto;
  }
  
  .form:hover {
    transform: scale(1.05);
    border: 1px solid var(--black);
  }
  
  #heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
  }
  
  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: var(--white);
    background-color: var(--black);
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: var(--white);
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: var(--white);
  }
  
  .form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
  }
  
  .button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: var(--white);
  }
  
  .button1:hover {
    background-color: var(--black);
    color: var(--white);
  }
  
  .button2 {
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: var(--white);
  }
  
  .button2:hover {
    background-color: var(--blue);
    color: var(--white);
  }
  
  .button3 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: var(--white);
  }
  
  .button3:hover {
    background-color: var(--red);
    color: var(--white);
  }